{% extends "base.html" %}
{% block title %}<title>Login</title>{% endblock %}
{% block content %}


<div class="container w-50 p-3">
    <h1 class="d-flex justify-content-center">Login</h1>
    <br/>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}
